@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-right: 20px !important;
}

/* .map-container {
height: 400px;
} */
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
 
.sidebar {
background-color: rgba(35, 55, 75, 0.9);
color: #fff;
padding: 6px 12px;
font-family: monospace;
z-index: 1;
position: absolute;
top: 30px;
left: 0;
margin: 12px;
border-radius: 4px;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.navigation{
  z-index: 9999;
  position: absolute;
  background-color: #46649b;
  width: 100%;
  list-style: none;
  color: antiquewhite;
}
.navigation ul li {
  list-style: none;
  cursor: pointer;

}
.loginBody{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d49a7;
  color: white;
}
.loginForm {
  border-radius: 20px;
  background-color: #e8e8e8;
  color: #2d49a7;
  display: flex;
  height: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnSubmit {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #2d49a7;
  background: #e8e8e8;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #2d49a7;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #2d49a7;
 }
 
 .btnSubmit:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #2d49a7;
 }
 
 .btnSubmit:active {
  transform: scale(0.9);
 }

 .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #2d49a7;
  outline: 0;
  font-size: 1.3rem;
  color:#2d49a7;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #2d49a7;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #2d49a7;
  /* font-weight: 700; */
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}